body { padding-top: 60px; position: relative; }

.footer { text-align: center; padding: 30px 0; margin-top: 70px; border-top: 1px solid #e5e5e5; background-color: #f5f5f5; }
.footer p { margin-bottom: 0; color: #777; }

.footer-links { margin: 10px 0; }
.footer-links li { display: inline; padding: 0 2px; }
.footer-links li:first-child { padding-left: 0; }

.clothes-item:hover { outline: solid thick #f2f2f2; cursor: pointer; }

.satisfaction-1, .satisfaction-2, .satisfaction-3, .satisfaction-4, .satisfaction-5 { display: block; }

.satisfaction-1 { background-color: #8b8989; }

.satisfaction-2 { background-color: #cdc9c9; }

.satisfaction-3 { background-color: green; }

.satisfaction-4 { background-color: #ff6347; }

.satisfaction-5 { background-color: #ff0000; }

.history-link { background-color: #ffffcc; }
