@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

$opencloset-yellow:        #ffc80f;
$opencloset-darken-yellow: desaturate(darken($opencloset-yellow, 4%), 10%);

.navbar {
    background: $opencloset-yellow;
    .navbar-brand {
        color: #000000;
    }
}

.ace-nav {
    > li {
        $colorList:
            "opencloset-yellow"        $opencloset-yellow,
            "opencloset-darken-yellow" $opencloset-darken-yellow
        ;
        @each $i in $colorList {
            &.#{ nth($i,1) } > a {
                background-color: nth($i,2);
                color: #000;
                &:hover, &:focus {
                    background-color: desaturate(darken(nth($i,2), 4%), 4%);
                }
                i {
                    color: #000;
                }
            }
            &.open.#{ nth($i,1) } > a {
                background-color: desaturate(darken(nth($i,2), 4%), 4%) !important;
            }
        }
        &.open > a {
            color:#000 !important;
        }
    }
}

.clickable {
    cursor: pointer;
}
.highlight,.history-link {
   background-color: lighten(yellow, 40%);
}
.search-label {
   a {
      color: inherit;
   }
   :hover, :focus {
      color: none;
   }
}
.badge.satisfaction-1 {
   background-color: #333333 !important;
}
.badge.satisfaction-2 {
   background-color: #999999 !important;
}
.badge.satisfaction-3 {
   background-color: #468847 !important;
}
.badge.satisfaction-4 {
   background-color: #F89406 !important;
}
.badge.satisfaction-5 {
   background-color: #B94A48 !important;
}
.status-1 {
    background-color: #468847 !important;
}
.status-2,.status-5,.status-6 {
    background-color: #b94a48 !important;
}

.ace-thumbnails > li .tags-top-ltr {
    background-color: rgba(0, 0, 0, 0);
    border: 0 none;
    top: 0;
    direction: ltr;
    display: inline-block;
    height: auto;
    left: 0;
    margin: 0;
    overflow: visible;
    padding: 0;
    position: absolute;
    right: 0;
    vertical-align: inherit;
    width: auto;
}

.ace-thumbnails > li .tags-top-ltr > .label-holder {
    direction: rtl;
    display: table;
    margin: 0 0 1px;
    opacity: 0.92;
    text-align: right;
}

.ace-thumbnails {
    > li {
        .tags-top-ltr {
            background-color: rgba(0, 0, 0, 0);
            border: 0 none;
            top: 0;
            direction: ltr;
            display: inline-block;
            height: auto;
            left: 0;
            margin: 0;
            overflow: visible;
            padding: 0;
            position: absolute;
            right: 0;
            vertical-align: inherit;
            width: auto;

            > .label-holder {
                direction: rtl;
                display: table;
                margin: 0 0 1px;
                margin-top: -1px;
                opacity: 0.92;
                text-align: right;

                span.label {
                    padding-top: 3px;
                }
            }
        }
        .tags {
            bottom: 60px;
        }
        .satisfaction {
            height: 60px;
            ul {
                margin-left: 5px;
            }
            li {
                list-style-type: none;
            }
        }
    }
}

.breadcrumb {
    li a {
        padding: 0;
    }
    li {
        padding: 0 4px;
    }
    li:first-child a {
        padding-left: 4px;
    }
    li:not(:first-child) {
        padding-left: 0px;
    }
}

.page-content {
    h1, h2, h3 {
        color: #2679B5;
        font-weight: lighter;
        margin: 0 8px;
        padding: 0;
    }
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 16px;
    }
    .search {
        width: 400px;
    }
    #home {
        #clothes-table table {
            th {
                &:first-child {
                    width: 50px;
                }
                &:nth-child(2) {
                    width: 80px;
                }
                &:nth-child(3) {
                    width: 160px;
                }
            }
        }
    }
    #rental {
        #clothes-table table {
            th {
                &:first-child {
                    width: 50px;
                }
                &:nth-child(2) {
                    width: 80px;
                }
                &:nth-child(3) {
                    width: 160px;
                }
                &:nth-child(4) {
                    width: 80px;
                }
                &:nth-child(5) {
                    width: 80px;
                }
            }
            td {
                &:nth-child(5) {
                    text-align: right;
                }
            }
        }
        #order-table table th {
            &:first-child {
                width: 40px;
            }
            &:nth-child(2) {
                width: 100px;
            }
            &:nth-child(3) {
                width: 200px;
            }
        }
    }
    #order {
        #order-table table th {
            &:first-child {
                width: 40px;
            }
            &:nth-child(2) {
                width: 155px;
            }
            &:nth-child(3), &:nth-child(4) {
                width: 80px;
            }
            &:nth-child(5), &:nth-child(6) {
                width: 80px;
            }
        }
    }
    #order-id {
        .search {
            width: 300px;
        }
        .return-process {
            display: none;
        }
        table {
            th {
                &:first-child {
                    width: 50px;
                }
                &:nth-child(2) {
                    width: 40px;
                }
                &:nth-child(3) {
                    width: 120px;
                }
                &:nth-child(4) {
                    width: 80px;
                }
                &:nth-child(5),
                &:nth-child(7) {
                    width: 80px;
                }
                &:nth-child(6) {
                    width: 60px;
                }
            }
            td {
                &:nth-child(5),
                &:nth-child(7) {
                    text-align: right;
                    input {
                        width: 100px;
                    }
                }
                &:nth-child(6) {
                    text-align: right;
                }
            }
        }
        ul li.row {
            margin-left: 0;
            margin-right: 0;
        }
        .input-large {
            width: 400px !important;
        }
    }
    #user-list-table table th {
        &:first-child {
            width: 40px;
        }
        &:nth-child(7),
        &:nth-child(8) {
            width: 100px;
        }
    }
    #user-table table {
        th, td {
            &:nth-child(5) {
                border-right: none;
            }
            &:nth-child(6) {
                border-right: none;
                border-left: none;
            }
            &:nth-child(7) {
                border-left: none;
            }
        }
        th {
            &:first-child {
                width: 50px;
            }
            &:nth-child(2) {
                width: 80px;
            }
            &:nth-child(3) {
                width: 210px;
            }
            &:nth-child(4) {
                width: 100px;
            }
        }
        td {
            vertical-align: middle;
            &:nth-child(3) {
                [class^="icon-"], [class*=" icon-"] {
                    width: 1.2em;
                }
            }
        }
    }
    #new-clothes {
        form {
            .input-group {
                width: inherit;
            }
        }
        #s2id_clothes-category,
        #s2id_clothes-color {
            width: inherit !important;
        }
    }
    #user {
        .user-add {
            width: 440px;
        }
    }
    #user-id {
        .profile-info-row {
            .profile-info-name,
            .profile-info-value {
                min-height: 32px;
            }
        }
        .profile-picture {
            img.avatar {
                width: 180px;
                height: 180px;
            }
        }
        .profile-contact-links {
            i[class^="icon-"]:before, [class*=" icon-"]:before {
                width: 15px;
            }
        }
        .profile-info-value.body-size {
            & > span + span:before {
                border-bottom: 1px solid #FFFFFF;
                color: #666666;
                content: "";
                display: inline;
                margin: 0;
            }
            .label {
                width: 35px;
            }
        }
        .profile-activity {
            img {
                width: 40px;
                height: 40px;
            }
            a.order-badge:hover {
                text-decoration: none;
            }
        }
    }
    #clothes {
        #clothes-list-table table {
            th {
                &:first-child {
                    width: 80px;
                }
                &:nth-child(2) {
                    width: 160px;
                }
                &:nth-child(3) {
                    width: 80px;
                }
            }
        }
    }
    #clothes-code {
        .user-profile.row .grid2 {
            a:hover {
                text-decoration: none;
            }
        }
        .profile-activity {
            img {
                width: 40px;
                height: 40px;
            }
            a.order-badge:hover {
                text-decoration: none;
            }
        }
        .chosen-container-multi {
            .chosen-choices {
                min-height: 100px;
                li.search-field input[type="text"] {
                    height: 25px;
                }
                li.search-choice .search-choice-close {
                    background:none;
                    &:before {
                        content: "\f00d";
                        display: inline-block;
                        color: #888;
                        font-family: FontAwesome;
                        font-size: 13px;
                        position: absolute;
                        right: 5px;
                        top: -1px;
                    }
                    &:hover {
                        text-decoration:none;
                    }
                    &:hover:before {
                        color:#464646;
                    }
                }
            }
        }
    }
    #tag {
        .tag-add {
            width: 300px;
        }
        table {
            td {
                .btn-xs {
                    border-width: 2px;
                    font-size: 12px;
                    line-height: 18px;
                    padding: 0 4px;
                }
                .tag-action {
                    margin-right: 10px;
                }
            }
        }

    }
    #booking {
        #booking-table table {
            tr {
                &:first-child {
                    th {
                        &:first-child {
                            width: 80px;
                        }
                    }
                }
                th {
                    text-align: center;
                }
                th.slot {
                    width: 100px;
                }
            }
            td {
                &:first-child {
                    text-align: center;
                }
            }
        }
    }
    #timetable {
        .timetable-people {
            min-height: 215px;
            .people-box {
                width: 240px;
                min-height: 1px;
                padding-left: 12px;
                padding-right: 12px;
                position: relative;
                display:inline-block;
                p {
                    font-size: 1.1em;
                }
            }
        }
    }
    #donation {
        .donation-search {
            width: 440px;
        }

        #donation-table table th {
            &:first-child {
                width: 40px;
            }
            &:nth-child(2) {
                width: 100px;
            }
            &:nth-child(3) {
                width: 100px;
            }
        }
    }
    .step-content {
        .step-pane {
            h3 {
                margin-top: 10px;
                margin-bottom: 20px;
            }
        }
    }
    .dataTables_wrapper {
        table {
            margin-bottom: 0;
        }
        .row:last-child {
            background-color: #eff3f8;
            border-bottom: 1px solid #e0e0e0;
            padding-bottom: 12px;
            padding-top: 12px;
        }
        .row {
            margin: 0 !important;
        }
    }
}

.bigdrop .select2-results {
    max-height: 400px;
}

.btn-black {
    background-color: black !important;
    border-color: black;
}
.btn-navy {
    background-color: #000080 !important;
    border-color: #000080;
}
.btn-gray {
    background-color: #708090 !important;
    border-color: #708090;
}
.btn-red {
    background-color: #f00 !important;
    border-color: #f00;
}
.btn-whites {
    background-color: #d3d3d3 !important;
    border-color: #d3d3d3 !important;
    color: black !important;
}

.login-box {
    .toolbar {
        > div:first-child {
            padding-left: 10px;
            > a {
                margin: 0;
            }
            + div {
                padding-right: 10px;
                > a {
                    margin: 0;
                }
            }
        }
    }
}

.visit-box,
.visit-info-box {
    label.control-label {
        margin-bottom: 0;
    }
    strong {
        color: blue;
    }
}

.form-group.has-info textarea[disabled], .form-group.has-info textarea[readonly] {
    background-color: #eee !important;
    color: #848484 !important;
}

#postcodify .summary {
    display: none;
}
#clothes-bucket ul {
    height: 10em;
    background-color: #eee;
    margin-left: 0;
    list-style-type: none;
    li {
        display: inline;
        span {
            cursor: pointer;
        }
    }
}
#donation-table ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
        display: inline;
        span {
            cursor: pointer;
        }
    }
}
