@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

$opencloset-yellow:        #ffc80f;
$opencloset-darken-yellow: desaturate(darken($opencloset-yellow, 4%), 10%);

.navbar {
    background: $opencloset-yellow;
    .navbar-brand {
        color: #000000;
    }
}

.ace-nav {
    > li {
        $colorList:
            "opencloset-yellow"        $opencloset-yellow,
            "opencloset-darken-yellow" $opencloset-darken-yellow
        ;
        @each $i in $colorList {
            &.#{ nth($i,1) } > a {
                background-color: nth($i,2);
                color: #000;
                &:hover, &:focus {
                    background-color: desaturate(darken(nth($i,2), 4%), 4%);
                }
                i {
                    color: #000;
                }
            }
            &.open.#{ nth($i,1) } > a {
                background-color: desaturate(darken(nth($i,2), 4%), 4%) !important;
            }
        }
        &.open > a {
            color:#000 !important;
        }
    }
}

.clickable {
    cursor: pointer;
}
.highlight,.history-link {
   background-color: lighten(yellow, 40%);
}
.search-label {
   a {
      color: inherit;
   }
   :hover, :focus {
      color: none;
   }
}
.badge.satisfaction-1 {
   background-color: #333333 !important;
}
.badge.satisfaction-2 {
   background-color: #999999 !important;
}
.badge.satisfaction-3 {
   background-color: #468847 !important;
}
.badge.satisfaction-4 {
   background-color: #F89406 !important;
}
.badge.satisfaction-5 {
   background-color: #B94A48 !important;
}
.status-1 {
    background-color: #468847 !important;
}
.status-2,.status-5,.status-6 {
    background-color: #b94a48 !important;
}

.ace-thumbnails > li .tags-top-ltr {
    background-color: rgba(0, 0, 0, 0);
    border: 0 none;
    top: 0;
    direction: ltr;
    display: inline-block;
    height: auto;
    left: 0;
    margin: 0;
    overflow: visible;
    padding: 0;
    position: absolute;
    right: 0;
    vertical-align: inherit;
    width: auto;
}

.ace-thumbnails > li .tags-top-ltr > .label-holder {
    direction: rtl;
    display: table;
    margin: 0 0 1px;
    opacity: 0.92;
    text-align: right;
}

.ace-thumbnails {
    > li {
        .tags-top-ltr {
            background-color: rgba(0, 0, 0, 0);
            border: 0 none;
            top: 0;
            direction: ltr;
            display: inline-block;
            height: auto;
            left: 0;
            margin: 0;
            overflow: visible;
            padding: 0;
            position: absolute;
            right: 0;
            vertical-align: inherit;
            width: auto;

            > .label-holder {
                direction: rtl;
                display: table;
                margin: 0 0 1px;
                margin-top: -1px;
                opacity: 0.92;
                text-align: right;

                span.label {
                    padding-top: 3px;
                }
            }
        }
        .tags {
            bottom: 60px;
        }
        .satisfaction {
            height: 60px;
            ul {
                margin-left: 5px;
            }
            li {
                list-style-type: none;
            }
        }
    }
}

.breadcrumb {
    li a {
        padding: 0;
    }
    li {
        padding: 0 4px;
    }
    li:first-child a {
        padding-left: 4px;
    }
    li:not(:first-child) {
        padding-left: 0px;
    }
}

.page-content {
    h1, h2, h3 {
        color: #2679B5;
        font-weight: lighter;
        margin: 0 8px;
        padding: 0;
    }
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 16px;
    }
    .search {
        width: 400px;
    }
    #home {
        #clothes-table table {
            th {
                &:first-child {
                    width: 50px;
                }
                &:nth-child(2) {
                    width: 30px;
                }
                &:nth-child(3) {
                    width: 80px;
                }
                &:nth-child(4) {
                    width: 160px;
                }
            }
            td {
                &:nth-child(2) {
                    text-align: right;
                }
            }
        }
    }
    #rental {
        #clothes-table table {
            th {
                &:first-child {
                    width: 50px;
                }
                &:nth-child(2) {
                    width: 30px;
                }
                &:nth-child(3) {
                    width: 80px;
                }
                &:nth-child(4) {
                    width: 160px;
                }
                &:nth-child(5) {
                    width: 80px;
                }
                &:nth-child(6) {
                    width: 80px;
                }
            }
            td {
                &:nth-child(2),
                &:nth-child(6) {
                    text-align: right;
                }
            }
        }
        #order-table table th {
            &:first-child {
                width: 40px;
            }
            &:nth-child(2) {
                width: 100px;
            }
            &:nth-child(3) {
                width: 240px;
            }
        }
    }
    #order {
        #order-table table th {
            &:first-child {
                width: 40px;
            }
            &:nth-child(2) {
                width: 155px;
            }
            &:nth-child(3), &:nth-child(4) {
                width: 80px;
            }
            &:nth-child(5), &:nth-child(6) {
                width: 80px;
            }
        }
    }
    #order-id {
        .search {
            width: 240px;
        }
        .return-process {
            display: none;
        }
        table.order-detail-table {
            th {
                &:first-child {
                    width: 50px;
                }
                &:nth-child(2) {
                    width: 40px;
                }
                &:nth-child(3) {
                    width: 120px;
                }
                &:nth-child(4) {
                    width: 80px;
                }
                &:nth-child(5),
                &:nth-child(7) {
                    width: 80px;
                }
                &:nth-child(6) {
                    width: 60px;
                }
            }
            td {
                &:nth-child(5),
                &:nth-child(7) {
                    text-align: right;
                    input {
                        width: 100px;
                    }
                }
                &:nth-child(6) {
                    text-align: right;
                }
            }
        }
        ul li.row {
            margin-left: 0;
            margin-right: 0;
        }
        .input-large {
            width: 400px !important;
        }
        #order-refund-error {
            color: red;
            font-weight: bold;
        }
        .return-method {
            .editable-buttons {
                display: block;
            }
        }
        .widget-box.stat {
            .widget-body {
                padding-left: 20px;
                padding-right: 20px;

                table.status-time {
                    th:nth-child(2),
                    td:nth-child(2) {
                        padding-left: 20px;
                    }

                    th:nth-child(3),
                    th:nth-child(4),
                    td:nth-child(3),
                    td:nth-child(4) {
                        text-align: right;
                        padding-right: 20px;
                    }

                    td:nth-child(3),
                    td:nth-child(4) {
                        font-family: Monospace;
                    }

                    td:first-child {
                        width: 50px;
                    }
                    td:nth-child(3) {
                        width: 250px;
                    }
                    td:nth-child(4) {
                        width: 180px;
                    }
                }

                table.status-duration {
                    th:first-child,
                    td:first-child {
                        padding-left: 20px;
                    }

                    th:nth-child(2),
                    th:nth-child(3),
                    td:nth-child(2),
                    td:nth-child(3) {
                        width: 25%;
                        text-align: right;
                        padding-right: 20px;
                    }
                    td:nth-child(2),
                    td:nth-child(3) {
                        font-family: Monospace;
                    }
                }
            }
        }
        .widget-box.invoice-box {
            border: none;
            .widget-body {
                border: none;
            }
        }
    }
    #user-list-table table th {
        &:first-child {
            width: 40px;
        }
        &:nth-child(7),
        &:nth-child(8) {
            width: 100px;
        }
    }
    #user-table table {
        th, td {
            &:nth-child(5) {
                border-right: none;
            }
            &:nth-child(6) {
                border-right: none;
                border-left: none;
            }
            &:nth-child(7) {
                border-left: none;
            }
        }
        th {
            &:first-child {
                width: 50px;
            }
            &:nth-child(2) {
                width: 80px;
            }
            &:nth-child(3) {
                width: 210px;
            }
            &:nth-child(4) {
                width: 100px;
            }
        }
        td {
            vertical-align: middle;
            &:nth-child(3) {
                [class^="icon-"], [class*=" icon-"] {
                    width: 1.2em;
                }
            }
        }
    }
    #new-clothes {
        form {
            .input-group {
                width: inherit;
            }
        }
        #s2id_clothes-category,
        #s2id_clothes-color {
            width: inherit !important;
        }
    }
    #user {
        .user-add {
            width: 440px;
        }
    }
    #user-id {
        .profile-info-row {
            .profile-info-name,
            .profile-info-value {
                min-height: 32px;
            }
        }
        .profile-picture {
            img.avatar {
                width: 180px;
                height: 180px;
            }
        }
        .profile-contact-links {
            i[class^="icon-"]:before, [class*=" icon-"]:before {
                width: 15px;
            }
        }
        .profile-info-value.body-size {
            & > span + span:before {
                border-bottom: 1px solid #FFFFFF;
                color: #666666;
                content: "";
                display: inline;
                margin: 0;
            }
            .label {
                width: 35px;
            }
        }
        .profile-activity {
            img {
                width: 40px;
                height: 40px;
            }
            a.order-badge:hover {
                text-decoration: none;
            }
        }
        .profile-info-value > span + span.diff::before {
            border-bottom: 1px solid #fff;
            color: #666;
            content: "(";
            display: inline;
            margin-left: 3px;
            margin-right: 1px;
        }
        .profile-info-value > span + span.diff::after {
            content: ")";
            display: inline;
            margin-left: 1px;
        }
        .profile-info-value > span + span.avg::before,
        .profile-info-value > span + span.avg2::before {
            border-bottom: 1px solid #fff;
            color: #666;
            content: "";
            display: inline;
            margin-left: 1px;
            margin-right: 30px;
        }
    }
    #clothes {
        #clothes-list-table table {
            th {
                &:first-child {
                    width: 80px;
                }
                &:nth-child(2) {
                    width: 160px;
                }
                &:nth-child(3) {
                    width: 80px;
                }
            }
        }
    }
    #clothes-code {
        .user-profile.row .grid2 {
            a:hover {
                text-decoration: none;
            }
        }
        .profile-activity {
            img {
                width: 40px;
                height: 40px;
            }
            a.order-badge:hover {
                text-decoration: none;
            }
        }
        .chosen-container-multi {
            .chosen-choices {
                min-height: 100px;
                li.search-field input[type="text"] {
                    height: 25px;
                }
                li.search-choice .search-choice-close {
                    background:none;
                    &:before {
                        content: "\f00d";
                        display: inline-block;
                        color: #888;
                        font-family: FontAwesome;
                        font-size: 13px;
                        position: absolute;
                        right: 5px;
                        top: -1px;
                    }
                    &:hover {
                        text-decoration:none;
                    }
                    &:hover:before {
                        color:#464646;
                    }
                }
            }
        }
    }
    #tag {
        .tag-add {
            width: 300px;
        }
        table {
            td {
                .btn-xs {
                    border-width: 2px;
                    font-size: 12px;
                    line-height: 18px;
                    padding: 0 4px;
                }
                .tag-action {
                    margin-right: 10px;
                }
            }
        }

    }
    #booking {
        #booking-table table {
            tr {
                &:first-child {
                    th {
                        &:first-child {
                            width: 80px;
                        }
                    }
                }
                th {
                    text-align: center;
                }
                th.slot {
                    width: 100px;
                }
            }
            td {
                &:first-child {
                    text-align: center;
                }
            }
        }
    }
    #timetable {
        .timetable-people {
            min-height: 215px;
            .people-box {
                width: 260px;
                min-height: 1px;
                padding-left: 12px;
                padding-right: 12px;
                position: relative;
                display:inline-block;
                p {
                    font-size: 1.1em;
                }
                .widget-body.prohibit-change-status {
                    background-color: #ffc80f;
                }
                .widget-body.processing-status {
                    background-color: lighten(#aec95b, 15%);
                }
                .widget-body.notvisit-status {
                    background-color: lighten(#dd6566, 15%);
                }
            }
        }
    }
    #donation {
        .clothes-code {
            font-family: Monospace;
        }

        .donation-search {
            width: 440px;
        }

        #donation-table table th {
            &:first-child {
                width: 40px;
            }
            &:nth-child(2) {
                width: 100px;
            }
            &:nth-child(3) {
                width: 100px;
            }
            &:nth-child(4) {
                width: 230px;
            }
        }
    }
    #stat-bestfit {
        .desc {
            font-weight: bold;
        }
        .clothes-table table th,
        .clothes-table table td {
            &:first-child {
                width: 60px;
                text-align: right;
            }
            &:nth-child(2) {
                width: 70px;
            }
            &:nth-child(3) {
                width: 90px;
                text-align: right;
            }
            &:nth-child(5),
            &:nth-child(6),
            &:nth-child(7),
            &:nth-child(8),
            &:nth-child(9),
            &:nth-child(10),
            &:nth-child(11),
            &:nth-child(12) {
                width: 60px;
                text-align: right;
            }
        }
        .clothes-table table td {
            &:first-child,
            &:nth-child(3),
            &:nth-child(5),
            &:nth-child(6),
            &:nth-child(7),
            &:nth-child(8),
            &:nth-child(9),
            &:nth-child(10),
            &:nth-child(11),
            &:nth-child(12) {
                font-family: Monospace;
            }
        }
        .customer-table table th,
        .customer-table table td {
            text-align: right;
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(6),
            &:nth-child(7),
            &:nth-child(8),
            &:nth-child(9),
            &:nth-child(10),
            &:nth-child(11),
            &:nth-child(12),
            &:nth-child(13) {
                width: 60px;
                text-align: right;
            }
        }
        .customer-table table td {
            font-family: Monospace;
            text-align: right;
        }
    }
    #stat-clothes-amount {
        .amount {
            table th,
            table td {
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(5),
                &:nth-child(6),
                &:nth-child(7) {
                    width: 15%;
                    text-align: right;
                }
            }
        }
        .amount-category {
            table th,
            table td {
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(5),
                &:nth-child(6),
                &:nth-child(7),
                &:nth-child(8) {
                    width: 12%;
                    text-align: right;
                }
            }
        }
    }
    #stat-clothes-hit {
        h2 {
            span.top,
            span.date,
            span.category {
                font-weight: bold;
            }
        }
        #clothes-hit {
            table tr:nth-child(1) {
                th:nth-child(4) {
                    text-align: right;
                }
            }
            table tr:nth-child(2) {
                th:nth-child(1),
                th:nth-child(2),
                th:nth-child(3),
                th:nth-child(4),
                th:nth-child(5),
                th:nth-child(6),
                th:nth-child(7),
                th:nth-child(8) {
                    width: 60px;
                    text-align: right;
                }
            }
            table th:first-child,
            table td:first-child {
                text-align: right;
            }
            table td {
                &:nth-child(4),
                &:nth-child(6),
                &:nth-child(7),
                &:nth-child(8),
                &:nth-child(9),
                &:nth-child(10),
                &:nth-child(11),
                &:nth-child(12),
                &:nth-child(13) {
                    width: 60px;
                    text-align: right;
                }
            }
            table td {
                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(4),
                &:nth-child(6),
                &:nth-child(7),
                &:nth-child(8),
                &:nth-child(9),
                &:nth-child(10),
                &:nth-child(11),
                &:nth-child(12),
                &:nth-child(13) {
                    font-family: Monospace;
                }
            }
        }
    }
    #stat-status {
        span.date {
            font-weight: bold;
        }
    }
    #stat-visitor {
        span.date {
            font-weight: bold;
        }
    }
    .step-content {
        .step-pane {
            h3 {
                margin-top: 10px;
                margin-bottom: 20px;
            }
        }
    }
    .dataTables_wrapper {
        table {
            margin-bottom: 0;
        }
        .row:last-child {
            background-color: #eff3f8;
            border-bottom: 1px solid #e0e0e0;
            padding-bottom: 12px;
            padding-top: 12px;
        }
        .row {
            margin: 0 !important;
        }
    }
}

.bigdrop .select2-results {
    max-height: 400px;
}

.btn-black {
    background-color: black !important;
    border-color: black;
}
.btn-navy {
    background-color: #000080 !important;
    border-color: #000080;
}
.btn-gray {
    background-color: #708090 !important;
    border-color: #708090;
}
.btn-red {
    background-color: #f00 !important;
    border-color: #f00;
}
.btn-whites {
    background-color: #d3d3d3 !important;
    border-color: #d3d3d3 !important;
    color: black !important;
}

.login-box {
    .toolbar {
        > div:first-child {
            padding-left: 10px;
            > a {
                margin: 0;
            }
            + div {
                padding-right: 10px;
                > a {
                    margin: 0;
                }
            }
        }
    }
}

.visit-box,
.visit-info-box {
    label.control-label {
        margin-bottom: 0;
    }
    strong {
        color: blue;
    }
}

/*
 * chosen.js scrolled out of view
 *   - https://github.com/harvesthq/chosen/issues/86
 *   - https://github.com/harvesthq/chosen/issues/59
 */
.login-layout .visit-info-box.widget-box {
    overflow:visible;
}

#modal-booking {
    .modal-body {
        padding-top: 0;
        strong {
            color: blue;
        }
    }
}

.form-group.has-info textarea[disabled], .form-group.has-info textarea[readonly] {
    background-color: #eee !important;
    color: #848484 !important;
}

#postcodify {
    margin-bottom: 0;
}

.help-block-postcodify {
    margin-top: 0;
    font-size: 0.9em;
}

#postcodify .summary {
    display: none;
}
#clothes-bucket ul {
    height: 10em;
    background-color: #eee;
    margin-left: 0;
    list-style-type: none;
    li {
        display: inline;
        span {
            cursor: pointer;
        }
    }
}
#donation-table ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
        display: inline;
        span {
            cursor: pointer;
        }
    }
}

#latefee-help {
    display: none;
}

kbd {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    background-color: #333;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) inset;
    color: #fff;
    font-size: 90%;
    padding: 2px 4px;
}

.male { color: #5555ee }
.female { color: #ee3333 }

.colorgraph {
    height: 5px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.label-reported {
    background-color: #428bca !important;
}
.label-approved {
    background-color: #87b87f !important;
}
.label-done {
    background-color: #abbac3 !important;
}
.label-canceled {
    background-color: #d15b47 !important;
}
.label-drop {
    background-color: #ffb752 !important;
}
