_site
.sass-cache/
public/theme/

# commercial theme
public/theme/ace

# application config file
app.conf
app.psgi.conf

# editor swap files
*.swp

# log directory
log/

# local npm install modules
node_modules/

# grunt: coffee
coffee/js

# grunt: uglify
public/js

# grunt: compass
public/css

# bower
public/components/

# database file
*.sqlite
*.db

# cache dir
cache/

# hypnotoad pid file
hypnotoad.pid
