#!/usr/bin/env perl

use v5.14;

use utf8;
use strict;
use warnings;

use Mojo::JSON;
use POSIX qw( ceil );

my $PORT     = 8001;
my %SMS_FROM = (
    official => '07043257521',
    online   => '07075837521',
);

my %SMS = (
    from          => \%SMS_FROM,
    driver        => 'KR::APIStore',
    'KR::CoolSMS' => {
        _api_key    => $ENV{OPENCLOSET_COOLSMS_API_KEY}    || q{},
        _api_secret => $ENV{OPENCLOSET_COOLSMS_API_SECRET} || q{},
        _from       => $SMS_FROM{official},
    },
    'KR::APIStore' => {
        _id            => $ENV{OPENCLOSET_APISTORE_ID}            || q{},
        _api_store_key => $ENV{OPENCLOSET_APISTORE_API_STORE_KEY} || q{},
        _from          => $SMS_FROM{official},
    },
);

my $db_opts = $ENV{OPENCLOSET_DATABASE_OPTS} ? Mojo::JSON::decode_json( $ENV{OPENCLOSET_DATABASE_OPTS} ) : +{
    quote_char        => q{`},
    mysql_enable_utf8 => 1,
    on_connect_do     => 'SET NAMES utf8',
};
#
# RaiseError와 AutoCommit을 명시적으로 껐을때를 제외하고는 항상 켜줍니다.
#
$db_opts->{RaiseError} //= 1;
$db_opts->{AutoCommit} //= 1;

{
    #
    # for Mojolicious hypnotoad server
    #
    hypnotoad => {
        listen   => [ "http://*:$PORT" ],
        workers  => 6,
        pid_file => 'hypnotoad.pid',
    },

    #
    # 기본 데이터베이스 설정은 mysql 기준입니다.
    #
    database => {
        dsn    => $ENV{OPENCLOSET_DATABASE_DSN}  || "dbi:mysql:opencloset:127.0.0.1",
        name   => $ENV{OPENCLOSET_DATABASE_NAME} || 'opencloset',
        user   => $ENV{OPENCLOSET_DATABASE_USER} || 'opencloset',
        pass   => $ENV{OPENCLOSET_DATABASE_PASS} // 'opencloset',
        opts   => $db_opts,
    },

    #
    # for Google Analytics
    #
    google_analytics => q{},

    #
    # 시간대 설정
    #
    timezone => 'Asia/Seoul',

    #
    # 사이트 유형 설정
    #   all/staff/visit
    #
    site_type => 'all',

    #
    # 방문 예약 페이지에서 기존 정보로 채워줌 여무
    #
    visit_load => 0,

    #
    # cookies
    #
    secrets       => [$ENV{OPENCLOSET_SECRET}],
    cookie_domain => $ENV{OPENCLOSET_DOMAIN} || 'localhost' || '.theopencloset.net',

    #
    # site UI
    #
    theme        => 'ace',
    site         => { name => '열린옷장', icon => 'archive' },
    company_name => '열린옷장',
    sidebar      => {
        meta => {
            'home'                => { text => '첫 화면',               icon => 'home',      desc => '열린옷장 재고 관리 시스템입니다.', link => '/' },
            'rental'              => { text => '대여',                  icon => 'share',     desc => '어떤 옷을 빌려가나요?',                       },
            'new-clothes'         => { text => '새 옷',                 icon => 'gift',      desc => '새 옷을 기증 받으셨나요?',                    },
            'order'               => { text => '주문서',                icon => 'file',      desc => '지금까지 대여해간 주문서 목록입니다.', link => '/order' },
            'order-id'            => { text => '주문 내역',             icon => q{},         desc => '주문서 내역입니다.',        link => '#' },
            'user'                => { text => '사용자',                icon => 'user',      desc => '사용자 목록입니다.',        link => '/user',           },
            'user-id'             => { text => '사용자 정보',           icon => 'user',      desc => '사용자 정보입니다.',        link => '#'        },
            'clothes'             => { text => '의류',                  icon => 'female',    desc => '의류 목록입니다.',          link => '/clothes' },
            'clothes-code'        => { text => '의류 정보',             icon => 'female',    desc => '의류 정보입니다.',          link => '#'        },
            'tag'                 => { text => '태그',                  icon => 'tag',       desc => '태그 정보입니다.' },
            'booking'             => { text => '예약',                  icon => 'book',      desc => '예약 정보입니다.',          link => '/booking',       },
            'timetable'           => { text => '시간표',                icon => 'calendar',  desc => '예약 현황표입니다.',        link => '/timetable',     },
            'sms'                 => { text => '문자 전송',             icon => 'envelope',  desc => '단문 메시지를 전송합니다.', link => '/sms',           },
            'donation'            => { text => '기증',                  icon => 'heart',     desc => '기증 정보입니다.',          link => '/donation',     },
            'donation-id'         => { text => '기증 내역',             icon => 'heart',     desc => '기증 내역입니다.',          link => '#' },
            'login'               => { text => '로그인',                icon => 'lock',      },
            'visit'               => { text => '방문 예약',             icon => 'group',     desc => '열린옷장 방문 예약', link => '/visit'  },
            'visit2'              => { text => '방문 예약 (직원 전용)', icon => 'group',     desc => '열린옷장 방문 예약', link => '/visit2' },
            'stat'                => { text => '통계',                  icon => 'bar-chart', desc => '통계',               link => '#' },
            'volunteer'           => { text => '봉사활동',              icon => 'male',      desc => '봉사활동 현황입니다.',      link => '/volunteers' },
            'stat-bestfit'        => { text => '어울림',                icon => q{},         desc => '베스트핏에 해당하는 의류와 대여자 신체 치수 정보를 보여줍니다.', link => '/stat/bestfit'        },
            'stat-clothes-amount' => { text => '수량',                  icon => q{},         desc => '옷의 종류별 수량을 보여줍니다.',                                 link => '/stat/clothes/amount' },
            'stat-clothes-hit'    => { text => '인기 의류',             icon => q{},         desc => '가장 많이 대여한 옷을 종류별로 보여줍니다.',                     link => '/stat/clothes/hit'    },
            'stat-clothes-rent'   => { text => '대여 회전율',           icon => q{},         desc => '옷의 대여일 및 대여 회전율을 보여줍니다.',                       link => '/stat/clothes/rent'   },
            'stat-status'         => { text => '상태',                  icon => q{},         desc => '주문서의 상태별 처리 시간을 보여줍니다.',                        link => '/stat/status'         },
            'stat-visitor'        => { text => '방문자',                icon => q{},         desc => '일/주/월 별 방문자 정보',                                        link => '/stat/visitor'        },
            'stat-events-seoul'   => { text => '취업날개 이벤트',       icon => q{},         desc => '취업날개 이벤트 이용현황',                                       link => '/stat/events/seoul'   },
            'size-guess'          => { text => '신체 치수 예측',        icon => 'info',      desc => '키와 몸무게로 신체 치수를 예측합니다.',                          link => '/size/guess' },
            'user-id-search-clothes'      => { text => '의류검색',      icon => 'search',    desc => '신체치수로 잘 맞을 의류를 검색합니다.',                          link => '#' },
            'donation-list'      => { text => '기증신청목록',           icon => q{},         desc => '기증신청서 목록 입니다',                                         link => 'https://donation.theopencloset.net/forms' },
        },
        items => [
            { id => 'home'        },
            { id => 'new-clothes' },
            { id => 'clothes'     },
            { id => 'user'        },
            {
                id => 'donation',
                items => [
                    { id => 'donation' },
                    { id => 'donation-list' },
                ]
            },
            { id => 'tag'         },
            { id => 'booking'     },
            { id => 'visit2'      },
            { id => 'sms'         },
            { id => 'timetable'   },
            { id => 'order'       },
            { id => 'rental'      },
            { id => 'volunteer'   },
            { id => 'size-guess'  },
            {
                id    => 'stat',
                items => [
                    { id => 'stat-bestfit'        },
                    { id => 'stat-clothes-amount' },
                    { id => 'stat-clothes-hit'    },
                    { id => 'stat-clothes-rent'   },
                    { id => 'stat-status'         },
                    { id => 'stat-visitor'        },
                    { id => 'stat-events-seoul'   },
                ],
            },
        ],
    },

    #
    # page
    #
    entries_per_page => 20,

    #
    # avatar icon
    #
    avatar_icon => 'https://f.cloud.github.com/assets/138451/1897856/98a66e60-7bff-11e3-9318-ef8eae4ff285.png',

    #
    # category
    #
    category => {
        bag       => { str => '가방',     price => 5000  },
        belt      => { str => '벨트',     price => 2000  },
        blouse    => { str => '블라우스', price => 5000  },
        coat      => { str => '코트',     price => 10000 },
        jacket    => { str => '재킷',     price => 10000 },
        onepiece  => { str => '원피스',   price => 10000 },
        pants     => { str => '바지',     price => 10000 },
        shirt     => { str => '셔츠',     price => 5000  },
        shoes     => { str => '신발',     price => 5000  },
        skirt     => { str => '치마',     price => 10000 },
        tie       => { str => '넥타이',   price => 2000  },
        waistcoat => { str => '조끼',     price => 5000  },
    },

    'opencloset-sms-notifier.pl' => {
        fake_sms   => 0,
        delay      => 10,
        send_delay => 1,
        base_url   => "http://localhost:$PORT/api",
        email      => q{},
        password   => q{},
        sms        => \%SMS,
    },

    'opencloset-cron-sms.pl' => {
        port  => 8004,
        delay => 10,
        aelog => 'filter=debug:log=stderr',
    },

    #
    # SMS
    #
    sms => \%SMS,

    #
    # session
    #
    expire => {
        default  => 3600,
        remember => 86400,
    },

    #
    # booking
    #
    booking => {
        mon => {
            male => {
                '10:00' => 3, '10:30' => 2, '11:00' => 3, '11:30' => 2,
                '12:00' => 0, '12:30' => 0, '13:00' => 0, '13:30' => 0,
                '14:00' => 3, '14:30' => 2, '15:00' => 3, '15:30' => 2,
                '16:00' => 3, '16:30' => 2, '17:00' => 3, '17:30' => 2,
                '18:00' => 0, '18:30' => 0, '19:00' => 0, '19:30' => 0,
                '20:00' => 0, '20:30' => 0, '21:00' => 0, '21:30' => 0,
                '22:00' => 0,
            },
            female => {
                '10:00' => 3, '10:30' => 2, '11:00' => 3, '11:30' => 2,
                '12:00' => 0, '12:30' => 0, '13:00' => 0, '13:30' => 0,
                '14:00' => 3, '14:30' => 2, '15:00' => 3, '15:30' => 2,
                '16:00' => 3, '16:30' => 2, '17:00' => 3, '17:30' => 2,
                '18:00' => 0, '18:30' => 0, '19:00' => 0, '19:30' => 0,
                '20:00' => 0, '20:30' => 0, '21:00' => 0, '21:30' => 0,
                '22:00' => 0,
            },
        },
        tue => {
            male => {
                '10:00' => 4, '10:30' => 4, '11:00' => 4, '11:30' => 4,
                '12:00' => 0, '12:30' => 0, '13:00' => 0, '13:30' => 0,
                '14:00' => 4, '14:30' => 4, '15:00' => 4, '15:30' => 4,
                '16:00' => 4, '16:30' => 4, '17:00' => 4, '17:30' => 2,
                '18:00' => 0, '18:30' => 0, '19:00' => 0, '19:30' => 0,
                '20:00' => 0, '20:30' => 0, '21:00' => 0, '21:30' => 0,
                '22:00' => 0,
            },
            female => {
                '10:00' => 4, '10:30' => 4, '11:00' => 4, '11:30' => 4,
                '12:00' => 0, '12:30' => 0, '13:00' => 0, '13:30' => 0,
                '14:00' => 4, '14:30' => 4, '15:00' => 4, '15:30' => 4,
                '16:00' => 4, '16:30' => 4, '17:00' => 4, '17:30' => 2,
                '18:00' => 0, '18:30' => 0, '19:00' => 0, '19:30' => 0,
                '20:00' => 0, '20:30' => 0, '21:00' => 0, '21:30' => 0,
                '22:00' => 0,
            },
        },
        wed => {
            male => {
                '10:00' => 4, '10:30' => 4, '11:00' => 4, '11:30' => 4,
                '12:00' => 0, '12:30' => 0, '13:00' => 0, '13:30' => 0,
                '14:00' => 4, '14:30' => 4, '15:00' => 4, '15:30' => 4,
                '16:00' => 4, '16:30' => 4, '17:00' => 4, '17:30' => 2,
                '18:00' => 0, '18:30' => 0, '19:00' => 0, '19:30' => 0,
                '20:00' => 0, '20:30' => 0, '21:00' => 0, '21:30' => 0,
                '22:00' => 0,
            },
            female => {
                '10:00' => 4, '10:30' => 4, '11:00' => 4, '11:30' => 4,
                '12:00' => 0, '12:30' => 0, '13:00' => 0, '13:30' => 0,
                '14:00' => 4, '14:30' => 4, '15:00' => 4, '15:30' => 4,
                '16:00' => 4, '16:30' => 4, '17:00' => 4, '17:30' => 2,
                '18:00' => 0, '18:30' => 0, '19:00' => 0, '19:30' => 0,
                '20:00' => 0, '20:30' => 0, '21:00' => 0, '21:30' => 0,
                '22:00' => 0,
            },
        },
        thu => {
            male => {
                '10:00' => 4, '10:30' => 4, '11:00' => 4, '11:30' => 4,
                '12:00' => 0, '12:30' => 0, '13:00' => 0, '13:30' => 0,
                '14:00' => 4, '14:30' => 4, '15:00' => 4, '15:30' => 4,
                '16:00' => 4, '16:30' => 4, '17:00' => 4, '17:30' => 2,
                '18:00' => 0, '18:30' => 0, '19:00' => 0, '19:30' => 0,
                '20:00' => 0, '20:30' => 0, '21:00' => 0, '21:30' => 0,
                '22:00' => 0,
            },
            female => {
                '10:00' => 4, '10:30' => 4, '11:00' => 4, '11:30' => 4,
                '12:00' => 0, '12:30' => 0, '13:00' => 0, '13:30' => 0,
                '14:00' => 4, '14:30' => 4, '15:00' => 4, '15:30' => 4,
                '16:00' => 4, '16:30' => 4, '17:00' => 4, '17:30' => 2,
                '18:00' => 0, '18:30' => 0, '19:00' => 0, '19:30' => 0,
                '20:00' => 0, '20:30' => 0, '21:00' => 0, '21:30' => 0,
                '22:00' => 0,
            },
        },
        fri => {
            male => {
                '10:00' => 4, '10:30' => 4, '11:00' => 4, '11:30' => 4,
                '12:00' => 0, '12:30' => 0, '13:00' => 0, '13:30' => 0,
                '14:00' => 4, '14:30' => 4, '15:00' => 4, '15:30' => 4,
                '16:00' => 4, '16:30' => 4, '17:00' => 4, '17:30' => 2,
                '18:00' => 0, '18:30' => 0, '19:00' => 0, '19:30' => 0,
                '20:00' => 0, '20:30' => 0, '21:00' => 0, '21:30' => 0,
                '22:00' => 0,
            },
            female => {
                '10:00' => 4, '10:30' => 4, '11:00' => 4, '11:30' => 4,
                '12:00' => 0, '12:30' => 0, '13:00' => 0, '13:30' => 0,
                '14:00' => 4, '14:30' => 4, '15:00' => 4, '15:30' => 4,
                '16:00' => 4, '16:30' => 4, '17:00' => 4, '17:30' => 2,
                '18:00' => 0, '18:30' => 0, '19:00' => 0, '19:30' => 0,
                '20:00' => 0, '20:30' => 0, '21:00' => 0, '21:30' => 0,
                '22:00' => 0,
            },
        },
        sat => {
            male => {
                '10:00' => 4, '10:30' => 4, '11:00' => 4, '11:30' => 4,
                '12:00' => 0, '12:30' => 0, '13:00' => 0, '13:30' => 0,
                '14:00' => 4, '14:30' => 4, '15:00' => 4, '15:30' => 4,
                '16:00' => 4, '16:30' => 4, '17:00' => 4, '17:30' => 2,
                '18:00' => 0, '18:30' => 0, '19:00' => 0, '19:30' => 0,
                '20:00' => 0, '20:30' => 0, '21:00' => 0, '21:30' => 0,
                '22:00' => 0,
            },
            female => {
                '10:00' => 4, '10:30' => 4, '11:00' => 4, '11:30' => 4,
                '12:00' => 0, '12:30' => 0, '13:00' => 0, '13:30' => 0,
                '14:00' => 4, '14:30' => 4, '15:00' => 4, '15:30' => 4,
                '16:00' => 4, '16:30' => 4, '17:00' => 4, '17:30' => 2,
                '18:00' => 0, '18:30' => 0, '19:00' => 0, '19:30' => 0,
                '20:00' => 0, '20:30' => 0, '21:00' => 0, '21:30' => 0,
                '22:00' => 0,
            },
        },
        sun => {
            male => {
                '10:00' => 0, '10:30' => 0, '11:00' => 0, '11:30' => 0,
                '12:00' => 0, '12:30' => 0, '13:00' => 0, '13:30' => 0,
                '14:00' => 0, '14:30' => 0, '15:00' => 0, '15:30' => 0,
                '16:00' => 0, '16:30' => 0, '17:00' => 0, '17:30' => 0,
                '18:00' => 0, '18:30' => 0, '19:00' => 0, '19:30' => 0,
                '20:00' => 0, '20:30' => 0, '21:00' => 0, '21:30' => 0,
                '22:00' => 0,
            },
            female => {
                '10:00' => 0, '10:30' => 0, '11:00' => 0, '11:30' => 0,
                '12:00' => 0, '12:30' => 0, '13:00' => 0, '13:30' => 0,
                '14:00' => 0, '14:30' => 0, '15:00' => 0, '15:30' => 0,
                '16:00' => 0, '16:30' => 0, '17:00' => 0, '17:30' => 0,
                '18:00' => 0, '18:30' => 0, '19:00' => 0, '19:30' => 0,
                '20:00' => 0, '20:30' => 0, '21:00' => 0, '21:30' => 0,
                '22:00' => 0,
            },
        },
    },

    #
    # cache
    #
    cache => {
        dir => './cache',
    },

    #
    # postcodify
    #
    postcodify => {
        dsn               => $ENV{POSTCODIFY_DATABASE_DSN}  || 'dbi:mysql:postcodify:127.0.0.1',
        name              => $ENV{POSTCODIFY_DATABASE_NAME} || 'postcodify',
        user              => $ENV{POSTCODIFY_DATABASE_USER} || 'postcodify',
        password          => $ENV{POSTCODIFY_DATABASE_PASS} // 'postcodify',
        quote_char        => q{`},
        mysql_enable_utf8 => 1,
        on_connect_do     => 'SET NAMES utf8'
    },

    #
    # monitor
    #
    monitor_uri => 'http://localhost:5000',

    #
    # bodykit
    #
    bodykit => {
        accessKey => q{},
        secret    => q{},
    },

    #
    # volunteer
    #
    volunteer_uri => 'http://localhost:5000',

    #
    # /user/:id/search/clothes
    #
    'user-id-search-clothes' => {
        male => {
            upper_name   => 'jacket',
            lower_name   => 'pants',
            upper_params => [qw/
                arm
                bust
                topbelly
            /],
            lower_params => [qw/
                thigh
                waist
            /],
            range_rules  => {
                bust     => sub { ( ceil( $_[0] ) - 3, ceil( $_[0] ) + 3 ) },
                topbelly => sub { ( ceil( $_[0] ) - 2, ceil( $_[0] ) + 2 ) },
                arm      => sub { ( ceil( $_[0] ) - 1, ceil( $_[0] ) + 2 ) },
                thigh    => sub { ( ceil( $_[0] ) - 2, ceil( $_[0] ) + 3 ) },
                waist    => sub { ( ceil( $_[0] ) - 1, ceil( $_[0] ) + 2 ) },
            },
        },
        female => {
            upper_name   => 'jacket',
            lower_name   => 'skirt',
            upper_params => [qw/
                bust
                topbelly
            /],
            lower_params => [qw/
                hip
                waist
            /],
            range_rules  => {
                bust     => sub { ( ceil( $_[0] ) - 2, ceil( $_[0] ) + 2 ) },
                topbelly => sub { ( ceil( $_[0] ) - 2, ceil( $_[0] ) + 2 ) },
                hip      => sub { ( ceil( $_[0] ) - 2, ceil( $_[0] ) + 2 ) },
                waist    => sub { ( ceil( $_[0] ),     ceil( $_[0] ) + 2 ) },
            },
        },
    },
    events => {
        seoul => {
            key => $ENV{OPENCLOSET_EVENT_SEOUL_KEY},
        },
    },
    income => {
        opencloset => '25ab86bed149ca6ca9c1c0d5db7c9a91388ddeab',    # s3cr3t
    },
    start_date => {
        year      => 2014,
        month     => 12,
        day       => 17,
        time_zone => 'Asia/Seoul',
    },
    oavatar => {
        token => $ENV{OPENCLOSET_AVATAR_TOKEN} || 's3cr3t',
        url   => $ENV{OPENCLOSET_AVATAR_URL}   || 'https://avatar.theopencloset.net/avatar',
    },
};
