use v5.14;

use utf8;
use strict;
use warnings;

use Mojo::JSON;

my $json    = Mojo::JSON->new;
my $db_opts = $ENV{OPENCLOSET_DATABASE_OPTS} ? $json->decode( $ENV{OPENCLOSET_DATABASE_OPTS} ) : +{
    quote_char        => q{`},
    mysql_enable_utf8 => 1,
    on_connect_do     => 'SET NAMES utf8',
};
#
# RaiseError와 AutoCommit을 명시적으로 껐을때를 제외하고는 항상 켜줍니다.
#
$db_opts->{RaiseError} //= 1;
$db_opts->{AutoCommit} //= 1;

{
    #
    # 기본 데이터베이스 설정은 mysql 기준입니다.
    #
    database => {
        dsn    => $ENV{OPENCLOSET_DATABASE_DSN}  || "dbi:mysql:opencloset:127.0.0.1",
        name   => $ENV{OPENCLOSET_DATABASE_NAME} || 'opencloset',
        user   => $ENV{OPENCLOSET_DATABASE_USER} || 'opencloset',
        pass   => $ENV{OPENCLOSET_DATABASE_PASS} // 'opencloset',
        opts   => $db_opts,
    },

    #
    # site UI
    #
    theme        => 'ace',
    site         => { name => '열린옷장 재고 관리', icon => 'archive' },
    company_name => '열린옷장',
    sidebar      => {
        meta => {
            'home'         => { text => '첫 화면',       icon => 'home',     link => '/' },
            'new-borrower' => { text => '새로운 대여자', icon => 'edit',     desc => '손님이 처음 오셨나요?' },
            'rental'       => { text => '대여',          icon => 'share',    link => '/orders/new', },
            'new-cloth'    => { text => '새 옷',         icon => 'suitcase', link => '/search',     },
            'new-giver'    => { text => '새로운 기증자', icon => 'gift',     link => '/donors/new', },
        },
        items => [
            { id => 'home'         },
            { id => 'new-borrower' },
            { id => 'rental'       },
            { id => 'new-cloth'    },
            { id => 'new-giver'    },
        ],
    },
};
