#!/usr/bin/env perl

use v5.14;

use utf8;
use strict;
use warnings;

use Mojo::JSON;

my $json    = Mojo::JSON->new;
my $db_opts = $ENV{OPENCLOSET_DATABASE_OPTS} ? $json->decode( $ENV{OPENCLOSET_DATABASE_OPTS} ) : +{
    quote_char        => q{`},
    mysql_enable_utf8 => 1,
    on_connect_do     => 'SET NAMES utf8',
};
#
# RaiseError와 AutoCommit을 명시적으로 껐을때를 제외하고는 항상 켜줍니다.
#
$db_opts->{RaiseError} //= 1;
$db_opts->{AutoCommit} //= 1;

{
    #
    # 기본 데이터베이스 설정은 mysql 기준입니다.
    #
    database => {
        dsn    => $ENV{OPENCLOSET_DATABASE_DSN}  || "dbi:mysql:opencloset:127.0.0.1",
        name   => $ENV{OPENCLOSET_DATABASE_NAME} || 'opencloset',
        user   => $ENV{OPENCLOSET_DATABASE_USER} || 'opencloset',
        pass   => $ENV{OPENCLOSET_DATABASE_PASS} // 'opencloset',
        opts   => $db_opts,
    },

    #
    # site UI
    #
    secrets      => [
        '2013-11-01 15:53:55 Asia/Seoul',
    ],
    theme        => 'ace',
    site         => { name => '열린옷장 재고 관리', icon => 'archive' },
    company_name => '열린옷장',
    sidebar      => {
        meta => {
            'home'         => { text => '첫 화면',       icon => 'home',     desc => '열린 옷장 재고 관리 시스템입니다.', link => '/' },
            'new-borrower' => { text => '새로운 대여자', icon => 'edit',     desc => '손님이 처음 오셨나요?' },
            'rental'       => { text => '대여',          icon => 'share',    desc => '어떤 옷을 빌려가나요?' },
            'new-clothes'  => { text => '새 옷',         icon => 'gift',     desc => '새 옷을 기증 받으셨나요?' },
            'menu-order'   => { text => '주문서',        icon => 'file',     },
            'order'        => { text => '주문 목록',     icon => {},         desc => '지금까지 대여해간 주문서 목록입니다.' },
            'order-id'     => { text => '주문 내역',     icon => {},         desc => '주문서 내역입니다.', link => '#' },
            'search'       => { text => '검색',          icon => 'search',   desc => '무엇을 찾으세요?'      },
            'login'        => { text => '로그인',        icon => 'lock',     },
        },
        items => [
            { id => 'home'         },
            { id => 'new-borrower' },
            { id => 'rental'       },
            { id => 'new-clothes'  },
            { id => 'menu-order',  items => [ { id => 'order' }, { id => 'order-id' } ] },
            { id => 'search'       },
        ],
    },

    #
    # page
    #
    entries_per_page => 20,

    #
    # SMS
    #
    sms => {
        sender   => '07075837521',
        text     => '[열린옷장]에서 보내는 본인확인용 문자입니다. :)',
        username => $ENV{OPENCLOSET_COOLSMS_USER} || 'opencloset',
        password => $ENV{OPENCLOSET_COOLSMS_PASS} || '',
    },
};
