.clickable { cursor: pointer; }

.highlight, .history-link { background-color: #ffffcc; }

.search-label a { color: inherit; }
.search-label :hover, .search-label :focus { color: none; }

.badge.satisfaction-1 { background-color: #333333 !important; }

.badge.satisfaction-2 { background-color: #999999 !important; }

.badge.satisfaction-3 { background-color: #468847 !important; }

.badge.satisfaction-4 { background-color: #F89406 !important; }

.badge.satisfaction-5 { background-color: #B94A48 !important; }

.status-1 { background-color: #468847 !important; }

.status-2, .status-5, .status-6 { background-color: #b94a48 !important; }

.ace-thumbnails > li .tags-top-ltr { background-color: rgba(0, 0, 0, 0); border: 0 none; top: 0; direction: ltr; display: inline-block; height: auto; left: 0; margin: 0; overflow: visible; padding: 0; position: absolute; right: 0; vertical-align: inherit; width: auto; }

.ace-thumbnails > li .tags-top-ltr > .label-holder { direction: rtl; display: table; margin: 0 0 1px; opacity: 0.92; text-align: right; }

.ace-thumbnails > li .tags-top-ltr { background-color: rgba(0, 0, 0, 0); border: 0 none; top: 0; direction: ltr; display: inline-block; height: auto; left: 0; margin: 0; overflow: visible; padding: 0; position: absolute; right: 0; vertical-align: inherit; width: auto; }
.ace-thumbnails > li .tags-top-ltr > .label-holder { direction: rtl; display: table; margin: 0 0 1px; margin-top: -1px; opacity: 0.92; text-align: right; }
.ace-thumbnails > li .tags-top-ltr > .label-holder span.label { padding-top: 3px; }
.ace-thumbnails > li .tags { bottom: 60px; }
.ace-thumbnails > li .satisfaction { height: 60px; }
.ace-thumbnails > li .satisfaction ul { margin-left: 5px; }
.ace-thumbnails > li .satisfaction li { list-style-type: none; }

.page-content h1, .page-content h2, .page-content h3 { color: #2679B5; font-weight: lighter; margin: 0 8px; padding: 0; }
.page-content h1 { font-size: 24px; }
.page-content h2 { font-size: 20px; }
.page-content h3 { font-size: 16px; }
.page-content .search { width: 400px; }
.page-content #clothes-table table th:first-child { width: 50px; }
.page-content #clothes-table table th:nth-child(2) { width: 80px; }
.page-content #clothes-table table th:nth-child(3) { width: 160px; }
.page-content #order-table table th:first-child { width: 50px; }
.page-content #order-table table th:nth-child(2) { width: 160px; }
.page-content #order-table table th:nth-child(3) { width: 200px; }
.page-content #order-table table th:nth-child(4), .page-content #order-table table th:nth-child(5) { width: 80px; }
.page-content #user-table table th:first-child { width: 50px; }
.page-content #user-table table th:nth-child(2) { width: 80px; }
.page-content #user-table table th:nth-child(3) { width: 180px; }
.page-content #user-table table th:nth-child(4) { width: 100px; }
.page-content #user-table table td:nth-child(3) [class^="icon-"], .page-content #user-table table td:nth-child(3) [class*=" icon-"] { width: 1.2em; }
.page-content #new-borrower form .input-group { width: inherit; }
.page-content #new-borrower form .tags { width: 100%; }
.page-content #new-cloth form .input-group { width: inherit; }
.page-content #new-cloth #s2id_cloth-type, .page-content #new-cloth #s2id_cloth-color { width: inherit !important; }
.page-content .step-content .step-pane h3 { margin-top: 10px; margin-bottom: 20px; }

.bigdrop .select2-results { max-height: 400px; }

.btn-black { background-color: black !important; border-color: black; }

.btn-navy { background-color: #000080 !important; border-color: #000080; }

.btn-gray { background-color: #708090 !important; border-color: #708090; }

.btn-red { background-color: #f00 !important; border-color: #f00; }

.btn-whites { background-color: #d3d3d3 !important; border-color: #d3d3d3 !important; color: black !important; }
