.clickable { cursor: pointer; }

.highlight, .history-link { background-color: #ffffcc; }

.search-label a { color: inherit; }
.search-label :hover, .search-label :focus { color: none; }

.badge.satisfaction-1 { background-color: #333333 !important; }

.badge.satisfaction-2 { background-color: #999999 !important; }

.badge.satisfaction-3 { background-color: #468847 !important; }

.badge.satisfaction-4 { background-color: #F89406 !important; }

.badge.satisfaction-5 { background-color: #B94A48 !important; }

.status-1 { background-color: #468847 !important; }

.status-2, .status-5, .status-6 { background-color: #b94a48 !important; }
