- use utf8;
/ CSS
    %link{:rel => "stylesheet", :href => "/lib/bootstrap/css/bootstrap.min.css"}
    %link{:rel => "stylesheet", :href => "/lib/font-awesome/css/font-awesome.min.css"}
    /[if IE 7]
      %link{:rel => "stylesheet", :href => "/lib/font-awesome/css/font-awesome-ie7.min.css"}
    %link{:rel => "stylesheet", :href => "/lib/prettify/css/prettify.css"}
    %link{:rel => "stylesheet", :href => "/lib/datepicker/css/datepicker.css"}
    %link{:rel => "stylesheet", :href => "/lib/select2/select2.css"}
    %link{:rel => "stylesheet", :href => "/lib/chosen/css/chosen.min.css"}
