- use utf8;
/ CSS
    %link{:rel => "stylesheet", :href => "/theme/ace/css/bootstrap.min.css"}
    %link{:rel => "stylesheet", :href => "/assets/components/font-awesome/css/font-awesome.min.css"}
    %link{:rel => "stylesheet", :href => "/theme/ace/css/prettify.min.css"}
    %link{:rel => "stylesheet", :href => "/theme/ace/css/datepicker.min.css"}
    %link{:rel => "stylesheet", :href => "/theme/ace/css/select2.min.css"}
    %link{:rel => "stylesheet", :href => "/theme/ace/css/chosen.min.css"}
