- use utf8;
/ CSS
    %link{:rel => "stylesheet", :href => "/assets/components/bootstrap/dist/css/bootstrap.min.css"}
    %link{:rel => "stylesheet", :href => "/assets/components/font-awesome/css/font-awesome.min.css"}
    %link{:rel => "stylesheet", :href => "/assets/components/google-code-prettify/src/prettify.css"}
    %link{:rel => "stylesheet", :href => "/assets/components/bootstrap-datepicker/css/datepicker3.css"}
    %link{:rel => "stylesheet", :href => "/assets/components/select2/select2.css"}
    %link{:rel => "stylesheet", :href => "/assets/components/chosen_v1.1.0/chosen.min.css"}
