- use utf8;
/ css-page
    / page specific
    - my @include_csses = @$csses;
    - #push @include_csses, "$page_id.css" if $page_id;
    - for my $css (@include_csses) {
    -   if ( $css =~ m{^(https?://|/)} ) {
      %link{ :rel => 'stylesheet' :href => "#{ $css }" }
    -   }
    -   else {
      %link{ :rel => 'stylesheet' :href => "/css/#{ $css }" }
    -   }
    - }
