- use utf8;

%h2 열린옷장 정장 대여규정

%div
  %p
    열린옷장은 원활하고 올바른 대여와 기증자의 뜻에 맞는 공유가치의 실현을 위해 아래와 같이 대여규정을 운영합니다.


%h3 1조. 의류 대여기간
%div
  %p
    기준이 되는 대여기간은 3박 4일이며, 어떠한 경우에서도 해당 기간은 대여의 기준이 됩니다.


%h3 2조. 대여방법
%ol
  %li
    대여를 원하는 이용자 외의 대리 대여는 불가능합니다.
    단, 열린옷장에서 요구하는 신체치수와 개인정보를 아는 경우에 대여가 가능 할 수 있습니다.
  %li
    열린옷장 홈페이지를 통하여 의류가 필요한 1~2일 전 예약 후 방문합니다.
    단, 온라인 대여의 경우 의류가 필요한 최소 5일 전에 대여신청을 합니다.
  %li
    방문시 예약시간 정시에 맞춰서 방문합니다.
  %li
    미예약자가 방문 할 경우, 대여가 불가능 함을 알립니다.
  %li
    열린옷장이 요구하는 정보를 정확히 입력하지 않을 시에 예약이 임의 취소 될 수 있습니다.
  %li
    사전 연락없이 예약시간이 초과하는 경우, 임의 취소 될 수 있습니다.
  %li
    별도의 예약관련 문의 전화는 원활한 대여에 지장을 받으므로 받지 않습니다.
    단, 몸이 불편하신 분들의 경우 열린옷장과 연락가능한 수단을 통해서 연락을 하실 수 있습니다.
  %li
    미성년자의 단독 방문은 불가능합니다. 법정대리인과의 방문을 권유합니다.


%h3 3조. 대여 연장
%div
  %p
    대여 연장시 사전에 최소 1일전 열린옷장 담당직원과의 통화후 승낙이 이루어질 경우 연장이 성립합니다.
    반납시 연장비용이 청구되며, 1일당 전체 대여비의 20%에 해당하는 금액이 청구됩니다.
  %p
    예시) 전체 대여비가 20,000원일 경우, 1일 대여 연장비 4,000원


%h3 4조. 대여 연체
%div
  %p
    대여 연체시 열린옷장 담당직원이 통화 및 문자 안내를 합니다.
    반납시에 연체비용이 청구되며, 대여비의 20%에 해당하는 금액이 청구됩니다.
  %p
    단, 의도적 연체시 별도의 절차를 밟을 수 있음을 알려드립니다.


%h3 5조. 대여 손상 및 분실
%div
  %p
    대여 정장의 손상 및 분실시 열린옷장 담당직원에게 즉시 알려야합니다.
    정장 대여는 대여자의 치수에 맞추어서 대여하기 때문에 열린옷장에서는 책임이 없습니다.
    대여 금액의 최대 5배에 해당하는 금액이 청구됩니다.
  %p
    단, 사전에 발견된 손상의 경우, 열린옷장은 청구 할 수 없습니다.


%h3 6조. 환불 및 취소
%div
  %p
    대여 정장의 치수에 따른 환불은 불가능합니다. 단, 동일 상품에 관하여 교환은 가능합니다.
    대여가 성립 된 순간부터 대여자의 단순 변심으로 인한 환불은 불가능합니다.


%h3 7조. 반납
%div
  %p
    대여 정장의 반납은 택배 반납 및 방문 반납을 선택하여 할 수 있습니다.
%ol
  %li
    방문 반납
    %ul
      %li 안내지의 반납일에 맞추어 열린옷장에 방문하여 반납합니다.
  %li
    택배 반납
    %ul
      %li 대여자가 선불로 별도의 박스에 대여의류를 손상이 안생기도록 포장하여 최대 반납일 1일전에 발송합니다.
      %li 발송 후 열린옷장의 전화로 대여자 성함, 운송회사, 송장번호를 적어 단문문자를 전송합니다. (T.070-4325-7521)
      %li 반납시 운송장의 발송날짜를 기준으로 연체여부를 판단합니다.


%h3 8조. 대여규정의 변경
%div
  %p
    이 대여규정은 2014. 12. 01. 부터 적용됩니다.
