- use utf8;
- my $_id = 'sms';
- layout 'default', page_id => $_id;
- title meta_text($_id);

.row
  .hr.hr12.dotted
  .clearfix
    .grid2
      %span.bigger-175.blue= commify( $balance->{cash} )
      %br
      캐쉬
    .grid2
      %span.bigger-175.blue= commify( $balance->{point} )
      %br
      포인트
  .hr.hr16.dotted

.space-6

.row
  .col-xs-12
    %form.form-horizontal{ :role => 'form' }
      .form-group
        %label.col-sm-3.control-label.no-padding-right{ :for => 'to' } 받는 사람
        .col-sm-9
          %input.col-xs-10.col-sm-5{ :name => "to", :type => "tel", :placeholder => "휴대 전화 번호", :value => "#{$to}" }
      .form-group
        %label.col-sm-3.control-label.no-padding-right{ :for => 'macro' } 매크로
        .col-sm-9
          %select.col-xs-10.col-sm-5{ :name => "macro", :type => 'hidden', 'data-placeholder' => '전송할 메시지의 종류를 선택하세요.' }
      .form-group
        %label.col-sm-3.control-label.no-padding-right{ :for => 'msg' } 메시지
        .col-sm-9
          %textarea.col-xs-10.col-sm-8{ :name => "msg", :placeholder => "한글 기준 44자가 넘지 않을 경우 SMS로, 넘을 경우 LMS로 전송합니다.", :rows => "5" }= $msg
      .form-actions.clearfix
        .col-md-offset-3.col-md-9
          %button.btn.btn-info#btn-sms-send{ :type => 'button' }
            %i.ace-icon.icon-check.bigger-110
            전송
          %button.btn.btn-danger{ :type => 'reset' }
            %i.ace-icon.icon-undo.bigger-110
            다시 쓰기
