- use utf8;
- my $_id = 'sms';
- layout 'default', page_id => $_id;
- title meta_text($_id);

.row
  .col-xs-12
    %form.form-horizontal{ :role => 'form' }
      .form-group
        %label.col-sm-3.control-label.no-padding-right{ :for => 'form-field-1' } 받는 사람
        .col-sm-9
          %input.col-xs-10.col-sm-5#form-field-1{ :type => "tel" :placeholder => "휴대 전화 번호" }
      .form-group
        %label.col-sm-3.control-label.no-padding-right{ :for => 'form-field-2' } 메시지
        .col-sm-9
          %textarea.col-xs-10.col-sm-8#form-field-2{ :placeholder => "한글 기준 44자 이내로 작성하세요.", :rows => "5" }

      .form-actions.clearfix
        .col-md-offset-3.col-md-9
          %button.btn.btn-info#btn-sms-send{ :type => 'button' }
            %i.ace-icon.icon-check.bigger-110
            전송
          %button.btn.btn-danger{ :type => 'reset' }
            %i.ace-icon.icon-undo.bigger-110
            다시 쓰기
