- use utf8;
- my $_id   = 'stat-clothes-fav';
- layout 'default',
-   page_id     => $_id,
-   active_id   => 'stat-clothes-fav',
-   breadcrumbs => [
-     { text => meta_text('stat') },
-     { text => meta_text($_id)   },
-   ],
-   ;
- title meta_text($_id);
