- use utf8;
- my $_id = 'visit';
- layout 'notlogin',
-   page_id => $_id,
-   jses  => [
-     '/assets/components/moment/min/moment.min.js',
-     '/assets/components/jQuery-Mask-Plugin/dist/jquery.mask.min.js',
-     '//cdn.poesis.kr/post/search.min.js',
-   ],
-   csses => [
-     '//cdn.poesis.kr/post/search.css',
-   ],
-   ;
- title meta_text($_id);

- if ( $type eq 'visit-info' ) {
  = include 'visit-info-box'
- }
- else {
  = include 'visit-box'
- }
