<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap-datetimepicker.min.css">
    
    <link rel="stylesheet" href="{{ site.baseurl }}/css/flat-ui.css">

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">

  </head>
  <body>
    <div class="container">
      <form class="form-search">
        <input type="text" placeholder="175/65" class="input-medium search-query">
        <button type="submit" class="btn">Search in opencloset</button>
      </form>
      <header>
        <div class="navbar">
          <div class="navbar-inner">
            <a class="brand" href="{{ site.baseurl }}/">{{ site.name }}</a>
            <ul class="nav">
              <li class="active"><a href="{{ site.baseurl }}/">Home</a></li>
              <li><a href="{{ site.baseurl }}/clothes/">Clothes</a></li>
              <li><a href="{{ site.baseurl }}/search/">Suggestion</a></li>
            </ul>
          </div>
        </div>
      </header>
      <div id="content">
        {{ content }}
      </div>
      <footer class="footer">
        <div class="contact">
          <p>
            <a href="https://www.facebook.com/TheOpenCloset">facebook/opencloset</a>
          </p>
        </div>
      </footer>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript">
  $(function() {
    $('#datetimepicker1').datetimepicker({
      language: 'pt-BR'
    });
  });
    </script>

  </body>
</html>
